<!DOCTYPE html>
<html >

<head>
 
  <title>ML API</title>
<style>

button[type="submit"] {
    */: ;
    margin: 2em 0;
    letter-spacing: 4px;
    background: #8DC26F;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.9em;
    height: 40px;
    /* top: 34px; */
    margin-bottom: 24px;
    color: #fff;
    font-weight: 100;
    width: 83.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.login {
    width: 40%;
    height: 50%;
    margin: 3em auto;
    background: #76B840;
    background-size: cover;
}

select {
    margin-right: auto;
    margin-left: auto;
    font-size: 0.9em;
    height: 40px;
    /* top: 34px; */
    margin-bottom: 24px;
    color: #fff;
    font-weight: 100;
    width: 80.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

input {
    margin-right: auto;
    margin-left: auto;
    font-size: 0.9em;
    height: 17px;
    /* top: 34px; */
    margin-bottom: 24px;
    color: #fff;
    font-weight: 100;
    width: 75.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

button.btn.btn-primary.btn-block.btn-large {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    /* width: 100%; */
    margin: 2em 0;
    letter-spacing: 4px;
    background: #8DC26F;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.9em;
    height: 40px;
    /* top: 34px; */
    margin-bottom: 24px;
    color: #fff;
    font-weight: 100;
    width: 83.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    /* transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); */
    /* background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #fff 4%); */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%); */
    /* background-position: -800px 0; */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    /* color: #fff; */
    /* font-family: 'Roboto', sans-serif; */
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
    /* margin-top: 77px; */
}

body {
    background: #8DC26B;
}

button:hover {
    background: 76b852;
}

btn-block.btn-large:hover {
    background: red;
}

input[type="submit"]:hover {
    background: #76B9E3;
}

.select-items {
    /* background: red; */
}

option {
    background: #76B840;
    /* height: 200px; */
}

option {
}
input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #76b852;
    outline: none;
    border: 1px solid #76b852;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    /* width: 100%; */
    margin: 2em 0;
    letter-spacing: 4px;
    background: #8DC26F;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.9em;
    height: 40px;
    /* top: 34px; */
    margin-bottom: 24px;
    color: #fff;
    font-weight: 100;
    width: 83.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(255, 255, 255, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

</style>
</head>
<body>

 <div class="login">
	<h1>Demand Forecast</h1>
	
     <!-- Main Input For Receiving Query to our ML -->
    <form class="" action="data2" method="post">

    	<select id="origin" name="origin" required>
	<option value="">ORIGIN</option>
  <option value="1">ADV</option>
  <option value="2">PUM</option>
  <option value="3">TBH</option>
  <option value="4">TCP</option>
  <option value="5">TNN</option>
</select>
<select id="dest" name="dest" required>
  <option value="">DESTINATION</option>
  <option value="1">A98</option>
  <option value="2">ABC</option>
  <option value="3">ABH </option>
  <option value="4"> ABN </option>
  <option value="5"> ACU </option>
  <option value="6"> ADV </option>
  <option value="7">AGG</option>
<option value="8">AHA</option>
<option value="9">AKE</option>
<option value="10">AKH</option>
<option value="11">ALC</option>
<option value="12">ALI</option>
<option value="13">ALO </option>
<option value="14">AMH</option>
<option value="15">AMY</option>
<option value="16">AND</option>
<option value="17">ANDG</option>
<option value="18">ANHA</option>
 <option value="19">ANK</option>
 <option value="20">ANN</option>
 <option value="21">ANP</option>
 <option value="22">ANT</option>
 <option value="23">ANTI</option>
 <option value="24">ANU</option>
 <option value="25">APA</option>
 <option value="26">ASN</option>
 <option value="27">ATG</option>
 <option value="28">ATI</option>
 <option value="29">ATY</option>
 <option value="30">BAI</option>
 <option value="31">BAN</option>
 <option value="32">BAT</option>
 <option value="33">BBE</option>
 <option value="34">BBG</option>
 <option value="35">BBH</option>
 <option value="36">BCGG</option>
 <option value="37">BCH</option>
 <option value="38">BCNG</option>
 <option value="39">BCSN</option>
 <option value="40">BCT</option>
 <option value="41">BCU</option>
 <option value="42">BDE</option>
 <option value="43">BDG</option>
 <option value="44">BDGTHA</option>
 <option value="45">BDHALO</option>
 <option value="46">BDHHAN</option>
 <option value="47">BDHVTH</option>
 <option value="48">BDI</option>
 <option value="49">BDN</option>
 <option value="50">BDP</option>
 <option value="51">BGGSDG</option>
 <option value="52">BHA</option>
 <option value="53">BHCN</option>
 <option value="54">BHD</option>
 <option value="55">BHDH</option>
 <option value="56">BHG</option>
 <option value="57">BHHA</option>
 <option value="58">BHI</option>
 <option value="59">BHL</option>
 <option value="60">BHMH</option>
 <option value="61">BHN</option>
 <option value="62">BHO</option>
 <option value="63">BHS</option>
 <option value="64">BHT</option>
 <option value="65">BKA</option>
 <option value="66">BKNBTG</option>
 <option value="67">BKNNSN</option>
 <option value="68">BKNPNM</option>
 <option value="69">BLC</option>
 <option value="70">BLG</option>
 <option value="71">BLU</option>
 <option value="72">BLUDHI</option>
 <option value="73">BLUG</option>
 <option value="74">BMH</option>
 <option value="75">BMI</option>
 <option value="76">BMT</option>
 <option value="77">BNC</option>
 <option value="78">BNE</option>
 <option value="79">BNHG</option>
 <option value="80">BNL</option>
 <option value="81">BNT</option>
 <option value="82">BNTH</option>
 <option value="83">BOM</option>
 <option value="84">BOT</option>
 <option value="85">BPC</option>
 <option value="86">BPCTTH</option>
 <option value="87">BQG</option>
 <option value="88">BQI</option>
 <option value="89">BRA</option>
 <option value="90">BSN</option>
 <option value="91">BTD</option>
 <option value="92">BTE</option>
 <option value="93">BTECTH</option>
 <option value="94">BTETPU</option>
 <option value="95">BTETTY</option>
 <option value="96">BTG</option>
 <option value="97">BTH</option>
 <option value="98">BTI</option>
 <option value="99">BTL</option>
 <option value="100">BTN</option>
 <option value="101">BTNHTB</option>
 <option value="102">BTNPQY</option>
 <option value="103">BTO</option>
 <option value="104">BTR</option>
 <option value="105">BTU</option>
 <option value="106">BTUN</option>
 <option value="107">BUC</option>
 <option value="108">BUD</option>
 <option value="109">BVI</option>
 <option value="110">BXN</option>
 <option value="111">BXO</option>
 <option value="112">BXT</option>
 <option value="113">BYN</option>
 <option value="114">CAO</option>
 <option value="115">CBG</option>
 <option value="116">CBGBLC</option>
 <option value="117">CBGBLM</option>
 <option value="118">CBGHLG</option>
 <option value="119">CBGHQG</option>
 <option value="120">CBGNBH</option>
 <option value="121">CBGPHA</option>
 <option value="122">CBGQUN</option>
 <option value="123">CBGTAN</option>
 <option value="124">CBGTLH</option>
 <option value="125">CBGTNG</option>
 <option value="126">CBH</option>
 <option value="127">CCI</option>
 <option value="128">CDC</option>
 <option value="129">CDG</option>
 <option value="130">CDI</option>
 <option value="131">CDM</option>
 <option value="132">CDN</option>
 <option value="133">CDO</option>
 <option value="134">CGC</option>
 <option value="135">CGL</option>
 <option value="136">CGO</option>
 <option value="137">CGT</option>
 <option value="138">CHAGCT</option>
 <option value="139">CHAXN</option>
 <option value="140">CHBDN</option>
 <option value="141">CHBLI</option>
 <option value="142">CHBTTL</option>
 <option value="143">CHCCG</option>
 <option value="144">CHCLD</option>
 <option value="145">CHCMI</option>
 <option value="146">CHCTTB</option>
 <option value="147">CHCTVT</option>
 <option value="148">CHCUT</option>
 <option value="149">CHDBP</option>
 <option value="150">CHDCL</option>
 <option value="151">CHDLEK</option>
 <option value="152">CHDNMK</option>
 <option value="153">CHDNNN</option>
 <option value="154">CHDTO</option>
 <option value="155">CHHGG</option>
 <option value="156">CHHNH</option>
 <option value="157">CHHNN</option>
 <option value="158">CHHPCH</option>
 <option value="159">CHHPDK</option>
 <option value="160">CHHUNB</option>
 <option value="161">CHI</option>
 <option value="162">CHKSN</option>
 <option value="163">CHLBB</option>
 <option value="164">CHLDDT</option>
 <option value="165">CHLHG</option>
 <option value="166">CHMKG</option>
 <option value="167">CHN</option>
 <option value="168">CHNGT</option>
 <option value="169">CHNTH</option>
 <option value="170">CHNTN</option>
 <option value="171">CHNVL</option>
 <option value="172">CHPLG</option>
 <option value="173">CHQPG</option>
 <option value="174">CHSMC</option>
 <option value="175">CHSTDN</option>
 <option value="176">CHTCH</option>
 <option value="177">CHTDG</option>
 <option value="178">CHTHI</option>
 <option value="179">CHTHLT</option>
 <option value="180">CHTLT</option>
 <option value="181">CHVLTB</option>
 <option value="182">CHYPG</option>
 <option value="183">CIK</option>
 <option value="184">CJT</option>
 <option value="185">CKE</option>
 <option value="186">CKN</option>
 <option value="187">CLC</option>
 <option value="188">CLE</option>
 <option value="189">CLG</option>
 <option value="190">CLI</option>
 <option value="191">CLM</option>
 <option value="192">CLN</option>
 <option value="193">CLO</option>
 <option value="194">CLY</option>
 <option value="195">CMG</option>
 <option value="196">CMH</option>
 <option value="197">CMI</option>
 <option value="198">CMM</option>
 <option value="199">CMTT</option>
 <option value="200">CMTY</option>
 <option value="201">CMU</option>
 <option value="202">CMUNHN</option>
 <option value="203">CMY</option>
 <option value="204">CNA</option>
 <option value="205">CNC</option>
 <option value="206">CND</option>
 <option value="207">CNDC</option>
 <option value="208">CNG</option>
 <option value="209">CNT</option>
 <option value="210">CNTH</option>
 <option value="211">COD</option>
 <option value="212">CODHCM</option>
 <option value="213">COGO</option>
 <option value="214">COL</option>
 <option value="215">COLH</option>
 <option value="216">COLO</option>
 <option value="217">COM</option>
 <option value="218">CON</option>
 <option value="219">COT</option>
 <option value="220">CPU</option>
 <option value="221">CRG</option>
 <option value="222">CRH</option>
 <option value="223">CSE</option>
 <option value="224">CTC</option>
 <option value="225">CTG</option>
 <option value="226">CTH</option>
 <option value="227">CTHG</option>
 <option value="228">CTL</option>
 <option value="229">CTO</option>
 <option value="230">CTOG1</option>
 <option value="231">CUC</option>
 <option value="232">CUH</option>
 <option value="233">CUK</option>
 <option value="234">CUO</option>
 <option value="235">CUTH</option>
 <option value="236">CVA</option>
 <option value="237">CVI</option>
 <option value="238">CXN</option>
 <option value="239">DAH</option>
 <option value="240">DAHTPG</option>
 <option value="241">DAI</option>
 <option value="242">DAN</option>
 <option value="243">DAT</option>
 <option value="244">DBNDBD</option>
 <option value="245">DBNDBN</option>
 <option value="246">DBNG</option>
 <option value="247">DBNMCA</option>
 <option value="248">DBNNPO</option>
 <option value="249">DBNXML</option>
 <option value="250">DCG</option>
 <option value="251">DCL</option>
 <option value="252">DCO</option>
 <option value="253">DCU</option>
 <option value="254">DDE</option>
 <option value="255">DDG</option>
 <option value="256">DDI</option>
 <option value="257">DDO</option>
 <option value="258">DGA</option>
 <option value="259">DGD</option>
 <option value="260">DGHA</option>
 <option value="261">DGHG</option>
 <option value="262">DGHIG</option>
 <option value="263">DGI</option>
 <option value="264">DGK</option>
 <option value="265">DGKH</option>
 <option value="266">DGO</option>
 <option value="267">DGS</option>
 <option value="268">DGTH</option>
 <option value="269">DHA</option>
 <option value="270">DHAG</option>
 <option value="271">DHD</option>
 <option value="272">DHG</option>
 <option value="273">DHH</option>
 <option value="274">DHHA</option>
 <option value="275">DHI</option>
 <option value="276">DHIG</option>
 <option value="277">DHY</option>
 <option value="278">DID</option>
 <option value="279">DIK</option>
 <option value="280">DIL</option>
 <option value="281">DIX</option>
 <option value="282">DKD</option>
 <option value="283">DKG</option>
 <option value="284">DKGDGG</option>
 <option value="285">DKGTDC</option>
 <option value="286">DKH</option>
 <option value="287">DKHA</option>
 <option value="288">DKO</option>
 <option value="289">DKT</option>
 <option value="290">DLC</option>
 <option value="291">DLG</option>
 <option value="292">DLH</option>
 <option value="293">DLKMDK</option>
 <option value="294">DLT</option>
 <option value="295">DLTG</option>
 <option value="296">DMC</option>
 <option value="297">DMI</option>
 <option value="298">DML</option>
 <option value="299">DNB</option>
 <option value="300">DNC</option>
 <option value="301">DNCU</option>
 <option value="302">DND</option>
 <option value="303">DNG</option>
 <option value="304">DNI</option>
 <option value="305">DNIBMH</option>
 <option value="306">DNIPTI</option>
 <option value="307">DNITHP</option>
 <option value="308">DNITTN</option>
 <option value="309">DNN</option>
 <option value="310">DNP</option>
 <option value="311">DNT</option>
 <option value="312">DPG</option>
 <option value="313">DPO</option>
 <option value="314">DPU</option>
 <option value="315">DQT</option>
 <option value="316">DRA</option>
 <option value="317">DRG</option>
 <option value="318">DSG</option>
 <option value="319">DSN</option>
 <option value="320">DTG</option>
 <option value="321">DTH</option>
 <option value="322">DTHG</option>
 <option value="323">DTI</option>
 <option value="324">DTM</option>
 <option value="325">DTO</option>
 <option value="326">DTP</option>
 <option value="327">DTPHNU</option>
 <option value="328">DTPVTH</option>
 <option value="329">DTU</option>
 <option value="330">DUL</option>
 <option value="331">DUT</option>
 <option value="332">DVG</option>
 <option value="333">DVH</option>
 <option value="334">DVN</option>
 <option value="335">DXA</option>
 <option value="336">DXI</option>
 <option value="337">DXN</option>
 <option value="338">DYT</option>
 <option value="339">DYX</option>
 <option value="340">EAT</option>
 <option value="341">EHO</option>
 <option value="342">EKR</option>
 <option value="343">GAT</option>
 <option value="344">GBH</option>
 <option value="345">GCG</option>
 <option value="346">GCT</option>
 <option value="347">GDN</option>
 <option value="348">GDU</option>
 <option value="349">GHI</option>
 <option value="350">GKM</option>
 <option value="351">GLC</option>
 <option value="352">GLG</option>
 <option value="353">GLH</option>
 <option value="354">GLI</option>
 <option value="355">GLICPG</option>
 <option value="356">GLICPH</option>
 <option value="357">GLICUP</option>
 <option value="358">GLIDPO</option>
 <option value="359">GLIIGI</option>
 <option value="360">GLIIPA</option>
 <option value="361">GLIKBG</option>
 <option value="362">GLIKCO</option>
 <option value="363">GLIKPA</option>
 <option value="364">GLIMYG</option>
 <option value="365">GLIPTN</option>
 <option value="366">GLM</option>
 <option value="367">GPG</option>
 <option value="368">GQO</option>
 <option value="369">GRG</option>
 <option value="370">GRI</option>
 <option value="371">GRY</option>
 <option value="372">GTM</option>
 <option value="373">GTY</option>
 <option value="374">GVN</option>
 <option value="375">GVO</option>
 <option value="376">GVP</option>
 <option value="377">HAA</option>
 <option value="378">HAAN</option>
 <option value="379">HAB</option>
 <option value="380">HABH</option>
 <option value="381">HAG</option>
 <option value="382">HAGTHA</option>
 <option value="383">HAH</option>
 <option value="384">HAN</option>
 <option value="385">HANG</option>
 <option value="386">HAT</option>
 <option value="387">HATH</option>
 <option value="388">HATN</option>
 <option value="389">HBBDBC</option>
 <option value="390">HBBDTA</option>
 <option value="391">HBBLGR</option>
 <option value="392">HBBLHD</option>
 <option value="393">HBBPBP</option>
 <option value="394">HBBPHQ</option>
 <option value="395">HBBPLN</option>
 <option value="396">HBBPPR</option>
 <option value="397">HBBTBB</option>
 <option value="398">HBBTBI</option>
 <option value="399">HBBTCL</option>
 <option value="400">HBBTLG</option>
 <option value="401">HBBTMN</option>
 <option value="402">HBBTPT</option>
 <option value="403">HBC</option>
 <option value="404">HBCBQH</option>
 <option value="405">HBCMTB</option>
 <option value="406">HBCTBT</option>
 <option value="407">HBCTPD</option>
 <option value="408">HBCTTL</option>
 <option value="409">HBDKDR</option>
 <option value="410">HBDKTD</option>
 <option value="411">HBDLBT</option>
 <option value="412">HBDNCL</option>
 <option value="413">HBDNLC</option>
 <option value="414">HBDNTN</option>
 <option value="415">HBG</option>
 <option value="416">HBGLPL</option>
 <option value="417">HBHCBC</option>
 <option value="418">HBHCCC</option>
 <option value="419">HBHCHM</option>
 <option value="420">HBHCNB</option>
 <option value="421">HBHCPG</option>
 <option value="422">HBHCQ9</option>
 <option value="423">HBHDBC</option>
 <option value="424">HBHDTM</option>
 <option value="425">HBHG</option>
 <option value="426">HBHGCA</option>
 <option value="427">HBHGVT</option>
 <option value="428">HBHKSN</option>
 <option value="429">HBHNBD</option>
 <option value="430">HBHNDP</option>
 <option value="431">HBHNGL</option>
 <option value="432">HBHNHK</option>
 <option value="433">HBHNTH</option>
 <option value="434">HBHNUH</option>
 <option value="435">HBHPTL</option>
 <option value="436">HBHPVB</option>
 <option value="437">HBHT04</option>
 <option value="438">HBHUHU</option>
 <option value="439">HBHYKC</option>
 <option value="440">HBHYTY</option>
 <option value="441">HBI</option>
 <option value="442">HBKGAM</option>
 <option value="443">HBKGHT</option>
 <option value="444">HBKGPQ</option>
 <option value="445">HBKGRG</option>
 <option value="446">HBKHDK</option>
 <option value="447">HBKTDH</option>
 <option value="448">HBKTNH</option>
 <option value="449">HBLACG</option>
 <option value="450">HBLADH</option>
 <option value="451">HBLATH</option>
 <option value="452">HBLATN</option>
 <option value="453">HBLATU</option>
 <option value="454">HBLCPT</option>
 <option value="455">HBLDBM</option>
 <option value="456">HBLDDD</option>
 <option value="457">HBLDDI</option>
 <option value="458">HBLDLD</option>
 <option value="459">HBLDLH</option>
 <option value="460">HBNACL</option>
 <option value="461">HBNBKS</option>
 <option value="462">HBNDTN</option>
 <option value="463">HBNDXT</option>
 <option value="464">HBNTTB</option>
 <option value="465">HBNTTN</option>
 <option value="466">HBO</option>
 <option value="467">HBQNDB</option>
 <option value="468">HBQNHA</option>
 <option value="469">HBSTCD</option>
 <option value="470">HBSTLP</option>
 <option value="471">HBSTNN</option>
 <option value="472">HBSTTD</option>
 <option value="473">HBSTVC</option>
 <option value="474">HBTBQP</option>
 <option value="475">HBTGCL</option>
 <option value="476">HBTGCT</option>
 <option value="477">HBTGTD</option>
 <option value="478">HBTNTA</option>
 <option value="479">HBTNTB</option>
 <option value="480">HBTNTC</option>
 <option value="481">HBTNTH</option>
 <option value="482">HBTNTN</option>
 <option value="483">HBTQCH</option>
 <option value="484">HBTVCL</option>
 <option value="485">HBVLLH</option>
 <option value="486">HBVPVT</option>
 <option value="487">HBVTLD</option>
 <option value="488">HBVTXM</option>
 <option value="489">HCD</option>
 <option value="490">HCG</option>
 <option value="491">HCU</option>
 <option value="492">HDC</option>
 <option value="493">HDGTHA</option>
 <option value="494">HDH</option>
 <option value="495">HDHQ</option>
 <option value="496">HDN</option>
 <option value="497">HDTU</option>
 <option value="498">HGA</option>
 <option value="499">HGG</option>
 <option value="500">HGGBME</option>
 <option value="501">HGGDVN</option>
 <option value="502">HGGHSP</option>
 <option value="503">HGGMVC</option>
 <option value="504">HGGQBA</option>
 <option value="505">HGGQBH</option>
 <option value="506">HGGVXN</option>
 <option value="507">HGGXMN</option>
 <option value="508">HGGYMH</option>
 <option value="509">HGHA</option>
 <option value="510">HGM</option>
 <option value="511">HGP</option>
 <option value="512">HGV</option>
 <option value="513">HGVG</option>
 <option value="514">HGVP01</option>
 <option value="515">HHG</option>
 <option value="516">HHU</option>
 <option value="517">HIA</option>
 <option value="518">HIB</option>
 <option value="519">HIH</option>
 <option value="520">HIL</option>
 <option value="521">HIN</option>
 <option value="522">HKE</option>
 <option value="523">HKH</option>
 <option value="524">HKI</option>
 <option value="525">HKM</option>
 <option value="526">HLG</option>
 <option value="527">HLH</option>
 <option value="528">HLI</option>
 <option value="529">HLT</option>
 <option value="530">HLU</option>
 <option value="531">HMH</option>
 <option value="532">HMN</option>
 <option value="533">HNA</option>
 <option value="534">HND</option>
 <option value="535">HNH</option>
 <option value="536">HNITHA</option>
 <option value="537">HNITHI</option>
 <option value="538">HNN</option>
 <option value="539">HNU</option>
 <option value="540">HOHA</option>
 <option value="541">HOT</option>
 <option value="542">HPC</option>
 <option value="543">HPH</option>
 <option value="544">HPP</option>
 <option value="545">HPTH</option>
 <option value="546">HPU</option>
 <option value="547">HQN</option>
 <option value="548">HQN102</option>
 <option value="549">HQU11</option>
 <option value="550">HSA</option>
 <option value="551">HSN</option>
 <option value="552">HTA</option>
 <option value="553">HTG</option>
 <option value="554">HTGG</option>
 <option value="555">HTGN</option>
 <option value="556">HTHA</option>
 <option value="557">HTHLHA</option>
 <option value="558">HTHTHA</option>
 <option value="559">HTHVQG</option>
 <option value="560">HTN</option>
 <option value="561">HTNM</option>
 <option value="562">HTPU</option>
 <option value="563">HTYN</option>
 <option value="564">HUBBTH</option>
 <option value="565">HUBCPA</option>
 <option value="566">HUBHBT</option>
 <option value="567">HUBLNM</option>
 <option value="568">HUBLTG</option>
 <option value="569">HUBMCI</option>
 <option value="570">HUBPNN</option>
 <option value="571">HUBQU3</option>
 <option value="572">HUBQU6</option>
 <option value="573">HUBSKY</option>
 <option value="574">HUBTAB</option>
 <option value="575">HUBTCG</option>
 <option value="576">HUBTDU</option>
 <option value="577">HUBTPU</option>
 <option value="578">HUBTUS</option>
 <option value="579">HUE</option>
 <option value="580">HUG</option>
 <option value="581">HUL</option>
 <option value="582">HVB</option>
 <option value="583">HVG</option>
 <option value="584">HVN</option>
 <option value="585">HVT</option>
 <option value="586">HXH</option>
 <option value="587">HXN</option>
 <option value="588">HXNL</option>
 <option value="589">K1HNI</option>
 <option value="590">KAA</option>
 <option value="591">KAH</option>
 <option value="592">KAN</option>
 <option value="593">KBDG</option>
 <option value="594">KBG</option>
 <option value="595">KBI</option>
 <option value="596">KCG</option>
 <option value="597">KDC</option>
 <option value="598">KDH</option>
 <option value="599">KDLC</option>
 <option value="600">KDV</option>
 <option value="601">KGG</option>
 <option value="602">KGGTHP</option>
 <option value="603">KGGUMT</option>
 <option value="604">KGM</option>
 <option value="605">KGT</option>
 <option value="606">KHA</option>
 <option value="607">KHALHP</option>
 <option value="608">KHG</option>
 <option value="609">KHI</option>
 <option value="610">KHS</option>
 <option value="611">KKY</option>
 <option value="612">KLG</option>
 <option value="613">KMA</option>
 <option value="614">KMD</option>
 <option value="615">KMG</option>
 <option value="616">KMN</option>
 <option value="617">KNG</option>
 <option value="618">KNH</option>
 <option value="619">KNO</option>
 <option value="620">KNT</option>
 <option value="621">KPK</option>
 <option value="622">KQVO</option>
 <option value="623">KSN</option>
 <option value="624">KTBGG</option>
 <option value="625">KTBLC</option>
 <option value="626">KTDNG</option>
 <option value="627">KTG</option>
 <option value="628">KTH</option>
 <option value="629">KTHNM</option>
 <option value="630">KTHPG</option>
 <option value="631">KTHTH</option>
 <option value="632">KTM</option>
 <option value="633">KTMG</option>
 <option value="634">KTMSTY</option>
 <option value="635">KTN</option>
 <option value="636">KTPQC</option>
 <option value="637">KTPTO</option>
 <option value="638">KTPYN</option>
 <option value="639">KTQNI</option>
 <option value="640">KTQNM</option>
 <option value="641">KTTDC</option>
 <option value="642">KTY</option>
 <option value="643">KXG</option>
 <option value="644">LAN</option>
 <option value="645">LANCTH</option>
 <option value="646">LANDHE</option>
 <option value="647">LANTHA</option>
 <option value="648">LANTHG</option>
 <option value="649">LANTTA</option>
 <option value="650">LANTTH</option>
 <option value="651">LANTTU</option>
 <option value="652">LBH</option>
 <option value="653">LBN</option>
 <option value="654">LBT</option>
 <option value="655">LCA</option>
 <option value="656">LCC</option>
 <option value="657">LCH</option>
 <option value="658">LCN</option>
 <option value="659">LCNG</option>
 <option value="660">LCO</option>
 <option value="661">LCS</option>
 <option value="662">LCT</option>
 <option value="663">LCUNNN</option>
 <option value="664">LCUSHO</option>
 <option value="665">LCUTUN</option>
 <option value="666">LDG</option>
 <option value="667">LDGTPU</option>
 <option value="668">LDL</option>
 <option value="669">LDN</option>
 <option value="670">LDO</option>
 <option value="671">LDT</option>
 <option value="672">LDTO</option>
 <option value="673">LELI</option>
 <option value="674">LGD</option>
 <option value="675">LGG</option>
 <option value="676">LGH</option>
 <option value="677">LGHA</option>
 <option value="678">LGI</option>
 <option value="679">LGP</option>
 <option value="680">LGS</option>
 <option value="681">LGT</option>
 <option value="682">LGTH</option>
 <option value="683">LHI</option>
 <option value="684">LHN</option>
 <option value="685">LHPG</option>
 <option value="686">LHT</option>
 <option value="687">LHU</option>
 <option value="688">LHX</option>
 <option value="689">LHY</option>
 <option value="690">LIC</option>
 <option value="691">LICG</option>
 <option value="692">LKE</option>
 <option value="693">LKH</option>
 <option value="694">LLQ</option>
 <option value="695">LMH</option>
 <option value="696">LMS</option>
 <option value="697">LMT</option>
 <option value="698">LMX</option>
 <option value="699">LMY</option>
 <option value="700">LNA</option>
 <option value="701">LNM</option>
 <option value="702">LNN</option>
 <option value="703">LOB</option>
 <option value="704">LPC</option>
 <option value="705">LPT</option>
 <option value="706">LPU</option>
 <option value="707">LSN</option>
 <option value="708">LSNBGA</option>
 <option value="709">LSNCLG</option>
 <option value="710">LSNDLP</option>
 <option value="711">LSNLBH</option>
 <option value="712">LSNTDH</option>
 <option value="713">LSNVQN</option>
 <option value="714">LTG</option>
 <option value="715">LTH</option>
 <option value="716">LTI</option>
 <option value="717">LTK</option>
 <option value="718">LTKT</option>
 <option value="719">LTO</option>
 <option value="720">LTTN</option>
 <option value="721">LTY</option>
 <option value="722">LUI</option>
 <option value="723">LVG</option>
 <option value="724">LVO</option>
 <option value="725">LVS</option>
 <option value="726">LXN</option>
 <option value="727">LYN</option>
 <option value="728">LYNN</option>
 <option value="729">MAG</option>
 <option value="730">MBH</option>
 <option value="731">MBTH</option>
 <option value="732">MCA</option>
 <option value="733">MCB</option>
 <option value="734">MCN</option>
 <option value="735">MCU</option>
 <option value="736">MDC</option>
 <option value="737">MDH</option>
 <option value="738">MDI</option>
 <option value="739">MGN</option>
 <option value="740">MHA</option>
 <option value="741">MHH</option>
 <option value="742">MHOG</option>
 <option value="743">MIC</option>
 <option value="744">MIG</option>
 <option value="745">MIH</option>
 <option value="746">MKE</option>
 <option value="747">MKI</option>
 <option value="748">MLA</option>
 <option value="749">MLC</option>
 <option value="750">MLH</option>
 <option value="751">MLO</option>
 <option value="752">MNN</option>
 <option value="753">MOD</option>
 <option value="754">MPC</option>
 <option value="755">MQY</option>
 <option value="756">MSN</option>
 <option value="757">MTE</option>
 <option value="758">MTI</option>
 <option value="759">MTO</option>
 <option value="760">MXN</option>
 <option value="761">MYN</option>
 <option value="762">MYP</option>
 <option value="763">MYX</option>
 <option value="764">NAH</option>
 <option value="765">NAHG</option>
 <option value="766">NAL</option>
 <option value="767">NANNBH</option>
 <option value="768">NANQCU</option>
 <option value="769">NAS</option>
 <option value="770">NAT</option>
 <option value="771">NBE</option>
 <option value="772">NBHG</option>
 <option value="773">NBI</option>
 <option value="774">NBN</option>
 <option value="775">NBY</option>
 <option value="776">NCG</option>
 <option value="777">NCI</option>
 <option value="778">NCL</option>
 <option value="779">NCN</option>
 <option value="780">NCO</option>
 <option value="781">NDC</option>
 <option value="782">NDG</option>
 <option value="783">NDHG</option>
 <option value="784">NDN</option>
 <option value="785">NDO</option>
 <option value="786">NDU</option>
 <option value="787">NGO</option>
 <option value="788">NGT</option>
 <option value="789">NHA</option>
 <option value="790">NHG</option>
 <option value="791">NHHA</option>
 <option value="792">NHHI</option>
 <option value="793">NHI</option>
 <option value="794">NHN</option>
 <option value="795">NHP</option>
 <option value="796">NHS</option>
 <option value="797">NHT</option>
 <option value="798">NIT</option>
 <option value="799">NKH</option>
 <option value="800">NKU</option>
 <option value="801">NLC</option>
 <option value="802">NLO</option>
 <option value="803">NMD</option>
 <option value="804">NMDG</option>
 <option value="805">NNM</option>
 <option value="806">NNT</option>
 <option value="807">NOH</option>
 <option value="808">NOQ</option>
 <option value="809">NPC</option>
 <option value="810">NPT</option>
 <option value="811">NQH</option>
 <option value="812">NQN</option>
 <option value="813">NRY</option>
 <option value="814">NSH</option>
 <option value="815">NSHU</option>
 <option value="816">NSN</option>
 <option value="817">NTB</option>
 <option value="818">NTC</option>
 <option value="819">NTG</option>
 <option value="820">NTH</option>
 <option value="821">NTL</option>
 <option value="822">NTN</option>
 <option value="823">NTNBAI</option>
 <option value="824">NTNDHI</option>
 <option value="825">NTNG</option>
 <option value="826">NTNM</option>
 <option value="827">NTS</option>
 <option value="828">NTSO</option>
 <option value="829">NTT</option>
 <option value="830">NTU</option>
 <option value="831">NTUN</option>
 <option value="832">NTY</option>
 <option value="833">NVT</option>
 <option value="834">NXN</option>
 <option value="835">OCD</option>
 <option value="836">OMN</option>
 <option value="837">PBH</option>
 <option value="838">PBI</option>
 <option value="839">PCD</option>
 <option value="840">PCG</option>
 <option value="841">PCH</option>
 <option value="842">PCL</option>
 <option value="843">PCN</option>
 <option value="844">PCO</option>
 <option value="845">PCTH</option>
 <option value="846">PCTN</option>
 <option value="847">PCU</option>
 <option value="848">PDG</option>
 <option value="849">PDH</option>
 <option value="850">PDL</option>
 <option value="851">PDN</option>
 <option value="852">PDO</option>
 <option value="853">PGD</option>
 <option value="854">PGN</option>
 <option value="855">PGO</option>
 <option value="856">PGT</option>
 <option value="857">PHI</option>
 <option value="858">PHL</option>
 <option value="859">PHN</option>
 <option value="860">PHOYLP</option>
 <option value="861">PHU</option>
 <option value="862">PKN</option>
 <option value="863">PKU</option>
 <option value="864">PLG</option>
 <option value="865">PLI</option>
 <option value="866">PLM</option>
 <option value="867">PLO</option>
 <option value="868">PLT</option>
 <option value="869">PMH</option>
 <option value="870">PMI</option>
 <option value="871">PMY</option>
 <option value="872">PNG</option>
 <option value="873">PNH</option>
 <option value="874">PNN</option>
 <option value="875">PNR</option>
 <option value="876">POH</option>
 <option value="877">POHN</option>
 <option value="878">PON</option>
 <option value="879">PPG</option>
 <option value="880">PQC</option>
 <option value="881">PQG</option>
 <option value="882">PRG</option>
 <option value="883">PSN</option>
 <option value="884">PTG</option>
 <option value="885">PTH</option>
 <option value="886">PTI</option>
 <option value="887">PTN</option>
 <option value="888">PTO</option>
 <option value="889">PUB</option>
 <option value="890">PUC</option>
 <option value="891">PUL</option>
 <option value="892">PUM</option>
 <option value="893">PUT</option>
 <option value="894">PUTN</option>
 <option value="895">PUY</option>
 <option value="896">PVD</option>
 <option value="897">PVG</option>
 <option value="898">PVI</option>
 <option value="899">PXL</option>
 <option value="900">PXN</option>
 <option value="901">PYN</option>
 <option value="902">PYNDXN</option>
 <option value="903">PYNPHA</option>
 <option value="904">PYNSHA</option>
 <option value="905">PYNSHH</option>
 <option value="906">PYNTHA</option>
 <option value="907">QBTH</option>
 <option value="908">QBTN</option>
 <option value="909">QGG</option>
 <option value="910">QGH</option>
 <option value="911">QGN</option>
 <option value="912">QGTG</option>
 <option value="913">QGTH</option>
 <option value="914">QHA</option>
 <option value="915">QHP</option>
 <option value="916">QMH</option>
 <option value="917">QN1</option>
 <option value="918">QNHCTO</option>
 <option value="919">QNHDHA</option>
 <option value="920">QNHG1</option>
 <option value="921">QNHTYN</option>
 <option value="922">QNI</option>
 <option value="923">QNILHA</option>
 <option value="924">QNISHA</option>
 <option value="925">QNM</option>
 <option value="926">QNMBTM</option>
 <option value="927">QNMHDC</option>
 <option value="928">QNMPSN</option>
 <option value="929">QNMQSN</option>
 <option value="930">QNMTPC</option>
 <option value="931">QNN</option>
 <option value="932">QOI</option>
 <option value="933">QPU</option>
 <option value="934">QTBH</option>
 <option value="935">QTG</option>
 <option value="936">QTH</option>
 <option value="937">QTIDKR</option>
 <option value="938">QTITPG</option>
 <option value="939">QTKE</option>
 <option value="940">QTTG</option>
 <option value="941">QU10</option>
 <option value="942">QU11</option>
 <option value="943">QU12</option>
 <option value="944">QU2</option>
 <option value="945">QU3</option>
 <option value="946">QU4</option>
 <option value="947">QU5</option>
 <option value="948">QU6</option>
 <option value="949">QU7</option>
 <option value="950">QU8</option>
 <option value="951">QU9</option>
 <option value="952">QXG</option>
 <option value="953">QYN</option>
 <option value="954">RGA</option>
 <option value="955">RSI</option>
 <option value="956">SBY</option>
 <option value="957">SCG</option>
 <option value="958">SCU</option>
 <option value="959">SDC</option>
 <option value="960">SDG</option>
 <option value="961">SDO</option>
 <option value="962">SDU</option>
 <option value="963">SGD</option>
 <option value="964">SGT</option>
 <option value="965">SHG</option>
 <option value="966">SHN</option>
 <option value="967">SHU</option>
 <option value="968">SIT</option>
 <option value="969">SKY</option>
 <option value="970">SLABYN</option>
 <option value="971">SLAG</option>
 <option value="972">SLAQNI</option>
 <option value="973">SLASCP</option>
 <option value="974">SLATCU</option>
 <option value="975">SLO</option>
 <option value="976">SLVHO</option>
 <option value="977">SMA</option>
 <option value="978">SMS</option>
 <option value="979">SNG</option>
 <option value="980">SNM</option>
 <option value="981">SPA</option>
 <option value="982">SPU</option>
 <option value="983">SSN</option>
 <option value="984">SSO</option>
 <option value="985">STA</option>
 <option value="986">STG</option>
 <option value="987">STGCLD</option>
 <option value="988">STGKSH</option>
 <option value="989">STGMTU</option>
 <option value="990">STGTHA</option>
 <option value="991">STN</option>
 <option value="992">STNN</option>
 <option value="993">STY</option>
 <option value="994">SXI</option>
 <option value="995">TAB</option>
 <option value="996">TAC</option>
 <option value="997">TAN</option>
 <option value="998">TAT</option>
 <option value="999">TBA</option>
 <option value="1000">TBG</option>
 <option value="1001">TBHG</option>
 <option value="1002">TBM</option>
 <option value="1003">TBN</option>
 <option value="1004">TCA</option>
 <option value="1005">TCB</option>
 <option value="1006">TCG</option>
 <option value="1007">TCM</option>
 <option value="1008">TCN</option>
 <option value="1009">TCNH</option>
 <option value="1010">TCO</option>
 <option value="1011">TCP</option>
 <option value="1012">TCU</option>
 <option value="1013">TDC</option>
 <option value="1014">TDG</option>
 <option value="1015">TDHP</option>
 <option value="1016">TDI</option>
 <option value="1017">TDM</option>
 <option value="1018">TDMG</option>
 <option value="1019">TDN</option>
 <option value="1020">TDO</option>
 <option value="1021">TDP</option>
 <option value="1022">TGA</option>
 <option value="1023">TGB</option>
 <option value="1024">TGD</option>
 <option value="1025">TGG</option>
 <option value="1026">TGLT</option>
 <option value="1027">TGM</option>
 <option value="1028">TGN</option>
 <option value="1029">TGNI</option>
 <option value="1030">TGNT</option>
 <option value="1031">TGO</option>
 <option value="1032">TGS</option>
 <option value="1033">TGTH</option>
 <option value="1034">THB</option>
 <option value="1035">THBH</option>
 <option value="1036">THC</option>
 <option value="1037">THD</option>
 <option value="1038">THDA</option>
 <option value="1039">THDG</option>
 <option value="1040">THG</option>
 <option value="1041">THH</option>
 <option value="1042">THHA</option>
 <option value="1043">THI</option>
 <option value="1044">THL</option>
 <option value="1045">THLG</option>
 <option value="1046">THN</option>
 <option value="1047">THO</option>
 <option value="1048">THP</option>
 <option value="1049">THQ</option>
 <option value="1050">THS</option>
 <option value="1051">THT</option>
 <option value="1052">THTH</option>
 <option value="1053">THTI</option>
 <option value="1054">THTY</option>
 <option value="1055">THU</option>
 <option value="1056">THX</option>
 <option value="1057">TIB</option>
 <option value="1058">TIHA</option>
 <option value="1059">TIL</option>
 <option value="1060">TIN</option>
 <option value="1061">TIS</option>
 <option value="1062">TIT</option>
 <option value="1063">TKE</option>
 <option value="1064">TKH</option>
 <option value="1065">TKY</option>
 <option value="1066">TLC</option>
 <option value="1067">TLG</option>
 <option value="1068">TLH</option>
 <option value="1069">TLI</option>
 <option value="1070">TLU</option>
 <option value="1071">TMB</option>
 <option value="1072">TMC</option>
 <option value="1073">TMD</option>
 <option value="1074">TMDO</option>
 <option value="1075">TMH</option>
 <option value="1076">TMI</option>
 <option value="1077">TML</option>
 <option value="1078">TMN</option>
 <option value="1079">TMO</option>
 <option value="1080">TMP</option>
 <option value="1081">TMPU</option>
 <option value="1082">TNA</option>
 <option value="1083">TNAN</option>
 <option value="1084">TNBN</option>
 <option value="1085">TNC</option>
 <option value="1086">TNCU</option>
 <option value="1087">TND</option>
 <option value="1088">TNDC</option>
 <option value="1089">TNG</option>
 <option value="1090">TNH</option>
 <option value="1091">TNHA</option>
 <option value="1092">TNHCTH</option>
 <option value="1093">TNHG</option>
 <option value="1094">TNHP</option>
 <option value="1095">TNHTBN</option>
 <option value="1096">TNI</option>
 <option value="1097">TNK</option>
 <option value="1098">TNLC</option>
 <option value="1099">TNLG</option>
 <option value="1100">TNM</option>
 <option value="1101">TNP</option>
 <option value="1102">TNPC</option>
 <option value="1103">TNPU</option>
 <option value="1104">TNS</option>
 <option value="1105">TNSN</option>
 <option value="1106">TNTH</option>
 <option value="1107">TNU</option>
 <option value="1108">TNUN</option>
 <option value="1109">TNY</option>
 <option value="1110">TNYN</option>
 <option value="1111">TOI</option>
 <option value="1112">TON</option>
 <option value="1113">TOX</option>
 <option value="1114">TPC</option>
 <option value="1115">TPG</option>
 <option value="1116">TPGG</option>
 <option value="1117">TPI</option>
 <option value="1118">TPM</option>
 <option value="1119">TPU</option>
 <option value="1120">TQGG</option>
 <option value="1121">TQGLBH</option>
 <option value="1122">TQGPTT</option>
 <option value="1123">TQGTHA</option>
 <option value="1124">TQN</option>
 <option value="1125">TQT</option>
 <option value="1126">TQTN</option>
 <option value="1127">TQY</option>
 <option value="1128">TRH</option>
 <option value="1129">TRN</option>
 <option value="1130">TRU</option>
 <option value="1131">TS1</option>
 <option value="1132">TSA</option>
 <option value="1133">TSNI</option>
 <option value="1134">TTH</option>
 <option value="1135">TTHDG</option>
 <option value="1136">TTHLG</option>
 <option value="1137">TTHP</option>
 <option value="1138">TTI</option>
 <option value="1139">TTKHA</option>
 <option value="1140">TTM</option>
 <option value="1141">TTN</option>
 <option value="1142">TTNAN</option>
 <option value="1143">TTNT</option>
 <option value="1144">TTO</option>
 <option value="1145">TTQN1</option>
 <option value="1146">TTQU12</option>
 <option value="1147">TTQU2</option>
 <option value="1148">TTQU3</option>
 <option value="1149">TTQU7</option>
 <option value="1150">TTQU8</option>
 <option value="1151">TTT</option>
 <option value="1152">TTTGG</option>
 <option value="1153">TTTHA</option>
 <option value="1154">TTTN</option>
 <option value="1155">TTU</option>
 <option value="1156">TTY</option>
 <option value="1157">TUA</option>
 <option value="1158">TUH</option>
 <option value="1159">TUK</option>
 <option value="1160">TUN</option>
 <option value="1161">TUP</option>
 <option value="1162">TUSN</option>
 <option value="1163">TUY</option>
 <option value="1164">TVD</option>
 <option value="1165">TVG</option>
 <option value="1166">TVH</option>
 <option value="1167">TVN</option>
 <option value="1168">TVT</option>
 <option value="1169">TVV</option>
 <option value="1170">TXB</option>
 <option value="1171">TXM</option>
 <option value="1172">TXN</option>
 <option value="1173">TXT</option>
 <option value="1174">TYA</option>
 <option value="1175">TYAN</option>
 <option value="1176">TYG</option>
 <option value="1177">TYK</option>
 <option value="1178">TYN</option>
 <option value="1179">TYP</option>
 <option value="1180">TYS</option>
 <option value="1181">TYT</option>
 <option value="1182">TYU</option>
 <option value="1183">UBI</option>
 <option value="1184">UHA</option>
 <option value="1185">UMH</option>
 <option value="1186">VAN</option>
 <option value="1187">VBN</option>
 <option value="1188">VBO</option>
 <option value="1189">VCH</option>
 <option value="1190">VCU</option>
 <option value="1191">VDN</option>
 <option value="1192">VGG</option>
 <option value="1193">VHA</option>
 <option value="1194">VHC</option>
 <option value="1195">VHG</option>
 <option value="1196">VHHA</option>
 <option value="1197">VHHG</option>
 <option value="1198">VHP</option>
 <option value="1199">VHT</option>
 <option value="1200">VHTG</option>
 <option value="1201">VHTH</option>
 <option value="1202">VIT</option>
 <option value="1203">VKM</option>
 <option value="1204">VLC</option>
 <option value="1205">VLG</option>
 <option value="1206">VLGBTN</option>
 <option value="1207">VLGG</option>
 <option value="1208">VLH</option>
 <option value="1209">VLM</option>
 <option value="1210">VMU</option>
 <option value="1211">VNB</option>
 <option value="1212">VNC</option>
 <option value="1213">VNH</option>
 <option value="1214">VNI</option>
 <option value="1215">VNTI</option>
 <option value="1216">VNY</option>
 <option value="1217">VQG</option>
 <option value="1218">VQH</option>
 <option value="1219">VQN</option>
 <option value="1220">VTG</option>
 <option value="1221">VTH</option>
 <option value="1222">VTN</option>
 <option value="1223">VTU</option>
 <option value="1224">VTY</option>
 <option value="1225">VUU</option>
 <option value="1226">VVV</option>
 <option value="1227">VYN</option>
 <option value="1228">VYNG</option>
 <option value="1229">XAL</option>
 <option value="1230">XAN</option>
 <option value="1231">XDH</option>
 <option value="1232">XDU</option>
 <option value="1233">XHG</option>
 <option value="1234">XHN</option>
 <option value="1235">XKH</option>
 <option value="1236">XMC</option>
 <option value="1237">XMI</option>
 <option value="1238">XPG</option>
 <option value="1239">XPN</option>
 <option value="1240">XTG</option>
 <option value="1241">XTO</option>
 <option value="1242">XTS</option>
 <option value="1243">YBH</option>
 <option value="1244">YBIG</option>
 <option value="1245">YBNMCC</option>
 <option value="1246">YBNTTU</option>
 <option value="1247">YBNVCN</option>
 <option value="1248">YCU</option>
 <option value="1249">YDG</option>
 <option value="1250">YDH</option>
 <option value="1251">YKH</option>
 <option value="1252">YKU</option>
 <option value="1253">YLC</option>
 <option value="1254">YMO</option>
 <option value="1255">YMY</option>
 <option value="1256">YNA</option>
 <option value="1257">YSO</option>
 <option value="1258">YTE</option>
 <option value="1259">YTH</option>
 <option value="1260">YVN</option>
 <option value="1261">YYN</option>


 </select>

 <input placeholder="START DATE" type="date" id="sdate" name="sdate" required>

 <input placeholder="END DATE" type="date" id="edate" name="edate" required>
	
<input type="submit" value="PREDICT">
       
    </form>

   <br>
   <br>
   
</div>





</body>
</html>




